.Root__right-sidebar:has(.main-nowPlayingView-section) {
	.main-nowPlayingView-content {
		background: transparent;
	}

	.lyrics-background .main-trackInfo-artists {
		opacity: 0.75;
		filter: brightness(1.15);
	}

	.main-nowPlayingView-coverArt {
		opacity: 0.85;
		box-shadow: #00000045 0 9px 20px 0px;
	}

	.main-nowPlayingView-section {
		background-color: var(--background-tinted-base) !important;
	}

	button[type="button"] {
		background-color: var(--background-tinted-base) !important;
		color: rgba(255, 255, 255, 0.8);

		.Button-sm-buttonSecondary-useBrowserDefaultFocusStyle,
		.Button-sm-buttonSecondary-isUsingKeyboard-useBrowserDefaultFocusStyle {
			border: 1px solid rgba(255, 255, 255, 0.5);
		}
	}
}


// Improves scroll-bar
.os-host:has(.lyrics-background),
#lyrics-cinema,
.Root__main-view:has(.lyrics-background) {
	.os-scrollbar {
		padding: 5px;

		.os-scrollbar-handle {
			mix-blend-mode: overlay;
			background-color: rgba(252, 249, 249, 0.117) !important;
		}
	}
}

// This is the entire lyrics configuration used to create the gradient backgrounds
.lyrics-background {
	// This is the overarching container, the parent of the container class
	overflow: hidden;
	position: static;

	// This is needed so that the gradient-background can be visible
	&.main-nowPlayingView-sectionHeaderSpacing.main-nowPlayingView-lyricsGradient {
		background: transparent;
	}

	// These are full-screen background specific classes to make the gradient-background work/show properly
	.BeautifulLyricsPage &-container {
		max-width: 35%;
		max-height: 55%;

		scale: 290% 185%;
		transform-origin: left top;

		filter: saturate(2.5) brightness(0.65); // Blur-related
	}

	.BeautifulLyricsPage.Fullscreen &-container {
		max-width: 20%;
		max-height: 60%;

		scale: 500% 170%
	}

	// These are right-side card background specific classes to adjust for contrast issues
	&.os-padding:has(.main-nowPlayingView-content) &-container {
		border-radius: 8px;
		filter: saturate(2) brightness(0.7); // Blur-related
	}

	/*
		The idea behind this is to create a gradient-background that resembles Apple Music.

		We could technically simulate blob-merging of these colors and extract colors out of the
		cover-art. However - that is ridiculously expensive computationaly - and more importantly;
		I don't want to extract the colors from the cover-art in the first place.

		The easier solution is to use the cover-art as an image and blur it. To simulate blob-merging
		we have two circles with the image (two images cropped circularly) blurred significantly. We then
		apply a blend-mode to one of the circles and layer it on top. This helps sell the illusion that
		these colors are merging in blobs.
	*/

	// As the name suggests, this contains the color/back images - which make up the gradient itself
	&-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		overflow: hidden;

		filter: saturate(1.5) brightness(0.8); // Blur-related
	}

	// Sharable properties
	&-color,
	&-back,
	&-back-center {
		/* This is to align our img element */
		position: absolute;
		width: 200%;
		/*aspect-ratio: 1/1;*/
		animation: rotate 35s linear infinite;

		/* Align our image to the center of our div */
		/*img, canvas {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
		}*/

		filter: blur(40px); // Blur-related
		border-radius: 100em; // Blur-related
	}

	// The primary image which gives the blending effect it's illusional property
	&-color {
		right: 0;
		top: 0;
		z-index: 10;

		/*mix-blend-mode: soft-light;*/
	}

	// Additional image to cover space that the primary image doesn't cover (and to develop blob-blending)
	&-back {
		left: 0;
		bottom: 0;
		z-index: 1;
		animation-direction: reverse;
	}

	// Final image to cover the center
	&-back-center {
		z-index: 0;

		width: 300%;
		right: -50%;
		top: -20%;

		animation-direction: reverse;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

:root {
	--beautiful-lyrics-random-degree: 258deg;
}

@keyframes rotate {
	0% {
		transform: rotate(var(--beautiful-lyrics-random-degree));
	}

	100% {
		transform: rotate(calc(var(--beautiful-lyrics-random-degree) + 360deg));
	}
}