/* Page View */
.BeautifulLyricsPage {
	width: 100cqw;
	height: 100cqh;

	top: 0;
	left: 0;

	position: absolute !important;

	&.Cinema, &.Fullscreen {
		top: -1cqh;
		height: 101cqh;
	}

	.NoLyrics {
		display: flex;

		position: absolute;
		left: 50cqw;
		top: 50cqh;

		transform: translate(-50%, -50%);

		font-size: 3cqw;
		color: white;

		opacity: 0.5;
	}
}

/* Spotify Support */
.Root__main-view-overlay:has(.BeautifulLyricsPage) {
	pointer-events: auto;
}

body:has(.BeautifulLyricsPage) {
	.main-topBar-background {
		opacity: 0 !important;
	}
}

.main-view-container:has(.BeautifulLyricsPage) {
	margin-top: 0 !important;
}

.os-content:has(.BeautifulLyricsPage) {
	container-type: size;

	.main-view-container__scroll-node-child-spacer {
		display: flex;
		z-index: 200000;

		width: 12cqh;

		position: relative;
		left: calc(50cqw - 6cqw);

		.main-nowPlayingView-lyricsControls {
			display: flex;

			gap: 8px;

			margin: auto;
			padding-top: 3cqh;

			button {
				width: 4.25cqh;
				height: 4.25cqh;

				aspect-ratio: 1;

				border-radius: 100rem;
			}

			opacity: 0;
			transition: opacity .2s;
		}

		&:hover {
			.main-nowPlayingView-lyricsControls {
				opacity: 1;
			}
		}
	}
}

.os-content:has(.BeautifulLyricsPage:hover) {
	.main-nowPlayingView-lyricsControls {
		opacity: 0.3;
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage) {
	overflow: hidden;
}

.BeautifulLyricsPage {
	container-type: size;

	.main-nowPlayingView-lyricsControls {
		display: flex;
		z-index: 1000000;

		width: 12cqh;

		position: relative;

		gap: 8px;
		justify-content: center;

		margin: auto;
		padding-top: 3cqh;

		button {
			width: 4.25cqh;
			height: 4.25cqh;

			aspect-ratio: 1;

			border-radius: 100rem;
		}

		opacity: 0;
		transition: opacity .2s;

		&:hover {
			opacity: 1 !important;
		}
	}

	&:hover {
		.main-nowPlayingView-lyricsControls {
			opacity: 0.3;
		}
	}
}

.BeautifulLyricsPageViewControls, #BeautifulLyrics-CardView .main-nowPlayingView-lyricsControls {
	button {
		svg {
			fill: currentColor;
		}
	}
}

/* Playbar Icon */
button:has(.LyricsPageIcon) {
	margin-right: 6px;
}

.LyricsPageIcon {
	transform: translateY(-2px);
	fill: currentColor;
}

/* Cinema Playbar Adjustments*/
body:has(.Root__main-view-overlay .BeautifulLyricsPage) {
	.main-genericButton-button.main-genericButton-buttonActive {
		color: white;

		&:after {
			background-color: white;
		}
	}
}

// Prevents themes from screwing with us
body:has(.Root__main-view-overlay .BeautifulLyricsPage) {
	.Root__main-view {
		z-index: 5;
	}

	.Root__top-container {
		grid-template-areas:
			"top-bar top-bar top-bar"
			"left-sidebar main-view right-sidebar"
			"now-playing-bar now-playing-bar now-playing-bar" !important;
	}

	.Root__now-playing-bar, .main-nowPlayingBar-container {
		background: none !important;
		backdrop-filter: none !important;
		border: none !important;
		box-shadow: none !important;
	}

	.main-nowPlayingBar-left {
		order: unset;
		flex: unset;
		min-width: 180px;
		width: 30%;
	}

	.main-nowPlayingBar-center {
		order: unset;
		flex: unset;
		width: 40%;
	}

	.main-nowPlayingBar-right {
		order: unset;
		flex: unset;
		min-width: 180px;
		width: 30%;
	}

	.player-controls__buttons {
		display: -webkit-box;
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:not(:is(.PlaybarDetailsHidden), :is(.Fullscreen))) {
	.main-nowPlayingBar-left, .main-nowPlayingBar-right {
		opacity: 0.4;

		transition: opacity 0.125s ease-out;
	
		&:hover {
			opacity: 1;
		}
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:is(.PlaybarDetailsHidden)) {
	.main-nowPlayingBar-left, .main-nowPlayingBar-right {
		opacity: 0;

		transition: opacity 0.125s ease-out;
	}

	.Root__now-playing-bar {
		&:hover {
			.main-nowPlayingBar-left, .main-nowPlayingBar-right {
				opacity: 1;
			}
		}
	}
}

body:not(:has(.Root__main-view-overlay .BeautifulLyricsPage:is(.Fullscreen))) {
	#BeautifulLyricsFullscreenButton {
		scale: 1.25;
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:is(.Fullscreen)) {
	.body-drag-top {
		height: unset !important;
	}
}

#BeautifulLyricsFullscreenButton {
	color: rgba(var(--spice-rgb-selected-row),.7) !important;

	svg {
		fill: currentColor;
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:not(:is(.Fullscreen))) {
	.Root__now-playing-bar {
		.main-nowPlayingBar-center {
			opacity: 0.8;
		
			transition: opacity 0.125s ease-out;
		
			.player-controls__buttons {
				opacity: 0.15;
		
				transition: opacity 0.125s ease-out;
			}
		}

		&:hover {
			.main-nowPlayingBar-center {
				opacity: 1;

				.player-controls__buttons {
					opacity: 1;
				}
			}
		}
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:is(.Fullscreen, .Cinema)) {
	.Root__top-container {
		/* Prevent themes from screwing up our stuff */
		padding-top: calc(24px + var(--panel-gap)*2) !important; // Restore original
		position: unset !important;
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:is(.Fullscreen)) {
	.Root__now-playing-bar {
		// Define our overarching property
		--cover-art-size: 45vh;

		/* Prevent themes from screwing up our stuff */
		background: unset !important;
		margin: unset !important;
		width: unset !important;
		box-shadow: unset !important;
		border-radius: unset !important;
		border: unset !important;
		backdrop-filter: unset !important;
		position: unset !important;
		bottom: unset !important;
		left: unset !important;

		&::before {
			content: none;
		}

		/* Descendants */
		.main-nowPlayingBar-container {
			left: -25vw;
			position: relative;
			scale: 0.9;
			bottom: calc(calc(var(--cover-art-size) - 22vh) + 36px);

			height: 0;

			container-type: inline-size;
		}

		.main-nowPlayingBar-nowPlayingBar {
			height: 0;

			container-type: size; // Make everything relative to the container
		}

		// Prevent themes from screwing with us
		.playback-bar {
			position: unset !important;
		}
		.playback-bar__progress-time-elapsed, .main-playbackBarRemainingTime-container {
			position: relative !important;
			margin-bottom: unset !important;
			right: unset !important;
		}

		.main-nowPlayingBar-center {
			.playback-progressbar {
				position: relative !important;
				left: unset !important;
				bottom: unset !important;
			}

			.player-controls__buttons {
				margin-bottom: 12px;
			}
		}

		// Regular stuff
		.main-nowPlayingWidget-nowPlaying {
			width: var(--cover-art-size) !important;

			left: calc(50.2cqw - calc(var(--cover-art-size) / 2));
			bottom: calc(calc(var(--cover-art-size) - 15.75vh) + 36px);

			display: flex !important; // Prevent themes from screwing our direction
			flex-direction: column;

			.cover-art, .main-coverSlotCollapsed-container .cover-art {
				--cover-art-width: var(--cover-art-size) !important; // Prevents themes from screwing with us
				--cover-art-height: var(--cover-art-size) !important;

				width: var(--cover-art-size) !important;
				height: var(--cover-art-size) !important;
			}

			&>div:has(.cover-art) {
				opacity: 0.85;
				box-shadow: rgba(0, 0, 0, 0.26) 0 9px 20px 0px !important;

				transform: unset !important; // Prevent themes from screwing our visuals
				margin: 0;

				border-radius: 8px !important; // !important prevents themes from screwing with us
			}

			/* Stop themes from screwing with us */
			.main-coverSlotCollapsed-container {
				pointer-events: none;

				position: relative;
				left: unset;
				top: unset;
				width: unset;
				height: unset;
			}
		}

		.main-nowPlayingWidget-trackInfo {
			width: 40vw;

			position: relative;
			margin: unset;
			left: -0.25vh;
			top: 1.5vh;

			justify-items: center;
			align-items: center;
			text-align: center;

			.main-trackInfo-artists {
				justify-items: center;
				align-items: center;
				display: flex;
				width: auto;

				.TypeElement-finale-textSubdued-type {
					font-size: 1.6vh;
				}

				a:link, a:visited {
					color: rgba(255, 255, 255, 0.5);
				}
			}

			.main-trackInfo-name {
				display: flex;

				.TypeElement-mesto-type {
					font-size: 3vh;
				}

				.main-trackInfo-overlay {
					margin: auto;
				}
			}
		}

		.control-button-heart {
			--radius: 10vh;

			display: flex;

			width: var(--cover-art-size);
			height: var(--cover-art-size);
			
			position: absolute;

			padding-top: 2vh;

			color: white;

			z-index: 100000; // Some themes screw with our order here

			svg {
				width: var(--radius) !important;
				height: var(--radius) !important;

				left: -0.75vh;

				&:not(:is(.Svg-img-16-icon)) {
					scale: 2.5;
				}
			}
		}

		.control-button-feedback {
			--radius: 4.75vh;
			--height: calc(var(--cover-art-size) * 0.25);

			display: flex;
			width: var(--cover-art-size);
			height: var(--height);

			position: absolute;
			top: calc(var(--cover-art-size) - var(--height));
			padding-bottom: 1vh;

			color: white;

			z-index: 10000000;

			svg {
				width: var(--radius) !important;
				height: var(--radius) !important;
				left: -0.75vh;
				display: flex;
				fill: black;
			}
		}

		.control-button-feedback, .control-button-heart {
			cursor: pointer;

			opacity: 0;
			transition: opacity 0.125s ease-out;

			&:hover {
				opacity: 0.75;
			}
		}

		&:has(.control-button-heart:hover) {
			.control-button-feedback {
				opacity: 0.25;
			}
		}

		&:has(.control-button-feedback:hover) {
			.control-button-heart {
				opacity: 0.5;
			}
		}

		&:has(.control-button-feedback) {
			.control-button-heart {
				height: calc(var(--cover-art-size) * 0.75);

				span {
					top: 4.25vh;
					position: relative;
				}
			}
		}

		.main-nowPlayingBar-right {
			position: relative;

			left: -19vw;
			top: 7vh;

			transform-origin: center;
			translate: -50% -50%;

			opacity: 0.25;
			transition: opacity 0.125s ease-out;

			&:hover {
				opacity: 1;
			}

			.main-nowPlayingBar-extraControls {
				justify-content: center;
				justify-items: center;
			}
		}

		.main-connectBar-connectBar {
			width: 27vh;

			left: 49.25vw;
			top: 9.95vh;
			transform-origin: center;
			translate: -50% -50%;

			opacity: 0.25;
			transition: opacity 0.125s ease-out;

			justify-items: center;
			align-items: center;
			justify-content: center;
			padding-right: unset;
		}

		&:has(.main-nowPlayingBar-right:hover) {
			.main-connectBar-connectBar {
				opacity: 1;
			}
		}
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:is(.Fullscreen) .NoLyrics) {
	.Root__now-playing-bar {
		.main-nowPlayingBar-container {
			left: -1vw;
		}
	}

	.RootContainer {
		visibility: hidden;
	}
}