/* Page View */
.BeautifulLyricsPage {
	width: 100cqw;
	height: 100cqh;

	top: 0;
	left: 0;

	position: absolute !important;

	&.Cinema {
		top: -1cqh;
		height: 101cqh;
	}

	.NoLyrics {
		display: flex;

		position: absolute;
		left: 50cqw;
		top: 50cqh;

		transform: translate(-50%, -50%);

		font-size: 3cqw;
		color: white;

		opacity: 0.5;
	}
}

/* Spotify Support */
.Root__main-view-overlay:has(.BeautifulLyricsPage) {
	pointer-events: auto;
}

.os-content:has(.BeautifulLyricsPage) {
	container-type: size;

	.main-view-container__scroll-node-child-spacer {
		display: flex;
		z-index: 200000;

		width: 12cqh;

		position: relative;
		left: calc(50cqw - 6cqw);

		.main-nowPlayingView-lyricsControls {
			display: flex;

			gap: 8px;

			margin: auto;
			padding-top: 3cqh;

			button {
				width: 4.25cqh;
				height: 4.25cqh;

				aspect-ratio: 1;

				border-radius: 100rem;
			}

			opacity: 0;
			transition: opacity .2s;
		}

		&:hover {
			.main-nowPlayingView-lyricsControls {
				opacity: 1;
			}
		}
	}
}

.os-content:has(.BeautifulLyricsPage:hover) {
	.main-nowPlayingView-lyricsControls {
		opacity: 0.3;
	}
}

.BeautifulLyricsPage {
	container-type: size;

	.main-nowPlayingView-lyricsControls {
		display: flex;
		z-index: 1000000;

		width: 12cqh;

		position: relative;

		gap: 8px;
		justify-content: center;

		margin: auto;
		padding-top: 3cqh;

		button {
			width: 4.25cqh;
			height: 4.25cqh;

			aspect-ratio: 1;

			border-radius: 100rem;
		}

		opacity: 0;
		transition: opacity .2s;

		&:hover {
			opacity: 1 !important;
		}
	}

	&:hover {
		.main-nowPlayingView-lyricsControls {
			opacity: 0.3;
		}
	}
}

/* Playbar Icon */
button:has(.LyricsPageIcon) {
	margin-right: 6px;
}

.LyricsPageIcon {
	transform: translateY(-2px);
}

/* Cinema Playbar Adjustments*/
body:has(.Root__main-view-overlay .BeautifulLyricsPage) {
	.main-genericButton-button.main-genericButton-buttonActive {
		color: white;

		&:after {
			background-color: white;
		}
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:not(:is(.PlaybarDetailsHidden), :is(.Fullscreen))) {
	.main-nowPlayingBar-left, .main-nowPlayingBar-right {
		opacity: 0.4;

		transition: opacity 0.125s ease-out;
	
		&:hover {
			opacity: 1;
		}
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:is(.PlaybarDetailsHidden)) {
	.main-nowPlayingBar-left, .main-nowPlayingBar-right {
		opacity: 0;

		transition: opacity 0.125s ease-out;
	}

	.Root__now-playing-bar {
		&:hover {
			.main-nowPlayingBar-left, .main-nowPlayingBar-right {
				opacity: 1;
			}
		}
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:not(:is(.Fullscreen))) {
	.Root__now-playing-bar {
		.main-nowPlayingBar-center {
			opacity: 0.8;
		
			transition: opacity 0.125s ease-out;
		
			.player-controls__buttons {
				opacity: 0.15;
		
				transition: opacity 0.125s ease-out;
			}
		}

		&:hover {
			.main-nowPlayingBar-center {
				opacity: 1;

				.player-controls__buttons {
					opacity: 1;
				}
			}
		}
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:is(.Fullscreen)) {
	.Root__now-playing-bar {
		.main-nowPlayingBar-container {
			left: -25vw;
			position: relative;
			scale: 0.9;
			bottom: calc(22.5vh + 36px);

			height: 0;

			container-type: inline-size;
		}

		.main-nowPlayingBar-nowPlayingBar {
			height: 0;
		}

		.main-nowPlayingWidget-nowPlaying {
			width: 40vh;

			left: calc(49.75vw - 20vh);
			bottom: calc(26vh + 36px);

			flex-direction: column;

			.cover-art {
				width: 40vh !important;
				height: 40vh !important;
			}

			&>div:has(.cover-art) {
				opacity: 0.85;
				box-shadow: rgba(0, 0, 0, 0.26) 0 9px 20px 0px;

				border-radius: 8px;
			}
		}

		.main-nowPlayingWidget-trackInfo {
			width: 40vw;

			position: relative;
			left: -0.5vh;
			top: 1.5vh;

			justify-items: center;
			align-items: center;
			text-align: center;

			.main-trackInfo-artists {
				justify-items: center;
				align-items: center;
				display: flex;
				width: auto;

				.TypeElement-finale-textSubdued-type {
					font-size: 1.6vh;
				}

				a:link, a:visited {
					color: rgba(255, 255, 255, 0.5);
				}
			}

			.main-trackInfo-name {
				display: flex;

				.TypeElement-mesto-type {
					font-size: 3vh;
				}

				.main-trackInfo-overlay {
					margin: auto;
				}
			}
		}

		.control-button-heart {
			--radius: 10vh;

			display: block;

			width: 40vh;
			height: 40vh;
			
			position: absolute;
			left: -0.75vh;

			padding-top: 2vh;

			color: white;

			z-index: 5;

			opacity: 0;
			transition: opacity 0.125s ease-out;

			cursor: pointer;
			&:hover {
				opacity: 0.75;
			}

			svg {
				width: var(--radius) !important;
				height: var(--radius) !important;

				&:not(:is(.Svg-img-16-icon)) {
					scale: 2.5;
				}
			}
		}

		.main-nowPlayingBar-right {
			position: relative;

			left: -19vw;
			top: 7vh;

			transform-origin: center;
			translate: -50% -50%;

			opacity: 0.25;
			transition: opacity 0.125s ease-out;

			&:hover {
				opacity: 1;
			}

			.main-nowPlayingBar-extraControls {
				justify-content: center;
				justify-items: center;
			}
		}

		.main-connectBar-connectBar {
			width: 27vh;

			left: 49.25vw;
			top: 7vh;
			transform-origin: center;
			translate: -50% -50%;

			opacity: 0.25;
			transition: opacity 0.125s ease-out;

			justify-items: center;
			align-items: center;
			justify-content: center;
			padding-right: unset;
		}

		&:has(.main-nowPlayingBar-right:hover) {
			.main-connectBar-connectBar {
				opacity: 1;
			}
		}
	}
}

body:has(.Root__main-view-overlay .BeautifulLyricsPage:is(.Fullscreen) .NoLyrics) {
	.Root__now-playing-bar {
		.main-nowPlayingBar-container {
			left: -1vw;
		}
	}

	.RootContainer {
		visibility: hidden;
	}
}